@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif !important;
  font-size: 25px;
}

/* INDEX Y PARAMETROS PARA LAS PAGINAS */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

/* HEADER */
.header {
  background-color: #D9DD92;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header .hover {
  transition: all 0.3s;
}
.header .hover:hover {
  transform: scale(1.2);
}
.header .navbar-nav a {
  color: white;
}
.header .navbar-nav a:hover {
  transform: scale(1.1);
  color: black;
}

.btn {
  margin-right: 0;
}

/* WASAAA */
.whatsapp {
  position: fixed;
  right: 5px;
  bottom: 5px;
  width: 60px;
}

/* HERO */
#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/hero.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
#hero button {
  font-size: 50px;
  border: 0;
  top: 15px;
  border-radius: 20px;
}

.tituloH {
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.boton {
  transition: all 0.3s;
  background-color: #D9DD92;
}
.boton:hover {
  cursor: pointer;
  transform: scale(1.2);
  color: #D9DD92;
  background-color: black;
}

/* nosotros y h2 */
.nosotrosBody {
  background-image: url(../imagenes/guitarra.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#nosotros {
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(#EFEFBB, #DAD299);
  margin: 10%;
  box-shadow: 5px 5px 10px 1px #000;
  border-radius: 10px;
}
#nosotros .contenedor p {
  font-size: 30px;
  line-height: 1.5;
  margin: 25px;
}

.h2 {
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline double;
  margin-bottom: 50px;
}

body {
  overflow-x: hidden;
  display: flex;
}

.galeria {
  display: flex;
}
.galeria img {
  transition: all 0.7s;
  width: 100%;
}
.galeria img:hover {
  transform: scale(1.1);
  box-shadow: 15px 15px 15px black;
}

/* MARCAS */
.marca {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}

section .marca h2 {
  font-size: 43px;
}
section .marca p {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

#marcas .contenedorPadre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}
#marcas .contenedorPadre .contenedor {
  margin: 30px;
  border: #000 1px solid;
  width: 350px;
  height: 350px;
  box-shadow: 10px 10px 10px rgb(26, 23, 23);
  border-radius: 10px;
  transition: all 0.7s;
  background-color: white;
}
#marcas .contenedorPadre .contenedor:hover {
  transform: scale(1.1);
  box-shadow: 15px 15px 15px black;
}
#marcas .contenedorPadre .contenedor img {
  width: 348px;
  height: 100px;
  border-radius: 10px;
  background-position: center center;
}
#marcas div h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-decoration: underline double;
}
#marcas div .pm {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}

.h3P {
  text-align: center;
  margin-top: 30px;
}

.cardPadre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-items: center;
  flex-wrap: wrap;
}
.cardPadre .card-body .titulo {
  font-size: 36px;
  font-weight: bold;
}
.cardPadre .card-body .descripcion {
  font-size: 26px;
}

/*carrousel*/
.tamano {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
}

.c-item {
  height: 480px;
}

/* CONTACTO Y FORMULARIO */
/* imagen fondo */
.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 15px;
}
.contacto .formulario .hijoForm label {
  font-weight: bold;
  color: white;
}

.imagenFondo {
  background-image: linear-gradient(0deg, rgba(67, 59, 59, 0.5), rgba(57, 50, 50, 0.5)), url(../imagenes/guitarraC.jpg);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.h1Contacto {
  color: aliceblue;
  margin: 30px 6%;
  text-align: center;
  font-size: 50px;
}

.formulario .hijoForm {
  text-align: center;
  margin: 10px;
  border-radius: 6px;
}
.formulario .hijoForm input {
  margin: 10px;
}
.formulario .hijoForm textarea {
  margin: auto;
  width: 90%;
  border: 1px gray solid;
  border-radius: 6px;
}

/* .seccionB{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.seccionB .contacto p {
    text-align: center;
    font-weight: bold;
    margin-top: 80px;
}

div .mapa {
 margin: auto;
} */
/* FOOTER */
footer {
  height: 100px;
  width: 100vw;
  border-top: black 2px solid;
  background-color: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: auto;
}
footer .estiloF {
  color: white;
  font-size: 1.5rem;
}

/* MEDIAQ */
@media (max-width: 730px) {
  * {
    font-size: 15px;
  }
  .header {
    overflow-x: hidden;
  }
  .whatsapp {
    display: none;
  }
  #hero {
    background-attachment: local;
  }
  #hero .mediaH {
    font-size: 30px;
  }
  footer .estiloF h2 {
    font-size: 26px;
  }
  #nosotros .contenedor h2 {
    margin: 27px;
    font-size: 25px;
  }
  #nosotros .contenedor p {
    font-size: 20px;
    font-weight: normal;
  }
  #marcas .contenedorPadre .contenedor {
    width: 350px;
    height: 110px;
    border-radius: 10px;
    background-position: center center;
  }
  #marcas .h3P {
    display: none;
  }
  section .marca h2 {
    font-size: 27px;
    font-weight: normal;
    margin-bottom: 20px;
  }
  section .marca p {
    font-size: 20px;
  }
  .h1Contacto {
    font-size: 30px;
  }
  .formulario .hijoForm input {
    width: 90%;
  }
  .contacto .formulario .hijoForm label {
    display: none;
  }
  .imagenFondo {
    background-attachment: local;
  }
  .nosotrosBody {
    background-size: auto;
    background-attachment: local;
  }
}

/*# sourceMappingURL=estilos.css.map */
