/* FOOTER */
footer {
    height: 100px;
    width: 100vw;
    border-top: black 2px solid;
    background-color: $background-color_1;
    @include flexS;
    margin-top: auto;


    .estiloF {
        h2 {
            color: $color_1;
            font-size: 1.5rem;
        }
    }
}