/* HERO */
#hero {
    @include flexC;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../imagenes/hero.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

    button {
        font-size: 50px;
        border: 0;
        top: 15px;
        border-radius: 20px;
    }
}

.tituloH {
    color: $color_1;
    font-size: 50px;
    @include FT;
    margin-bottom: 15px;
}

.boton {
    transition: all 0.3s;
    background-color: $color_3;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
        color: $color_3;
        background-color: $color_2;
    }
}