/* MARCAS */
.marca {
    @include flexC;
    flex-direction: column;
    background-color: $color_1;
}

section {
    .marca {
        h2 {
            font-size: 43px;
        }

        p {
            text-align: center;
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
}

#marcas {
    .contenedorPadre {
        @include flexS;
        flex-wrap: wrap;
        margin-bottom: 15px;

        .contenedor {
            margin: 30px;
            border: #000 1px solid;
            width: 350px;
            height: 350px;
            box-shadow: 10px 10px 10px rgb(26, 23, 23);
            border-radius: 10px;
            transition: all 0.7s;
            background-color: $color_1;

            &:hover {
                transform: scale(1.1);
                box-shadow: 15px 15px 15px black;
            }

            img {
                width: 348px;
                height: 100px;
                border-radius: 10px;
                background-position: center center;
            }
        }
    }

    div {
        h2 {
            font-size: 40px;
            @include FT;
            text-decoration: underline double;
        }

        .pm {
            margin-top: 15px;
            @include FT;
        }
    }
}

.h3P {
    text-align: center;
    margin-top: 30px;
}