/* MEDIAQ */
@media (max-width: 730px) {
    * {
        font-size: 15px;
    }

    .header {
        overflow-x: hidden;
    }

    .whatsapp {
        display: none;
    }

    #hero {
        .mediaH {
            font-size: 30px;
        }

        background-attachment: local;
    }

    footer {
        .estiloF {
            h4 {
                font-size: 26px;
            }
        }
    }

    #nosotros {
        .contenedor {
            h2 {
                margin: 27px;
                font-size: 25px;
            }

            p {
                font-size: 20px;
                font-weight: normal;
            }
        }
    }

    #marcas {
        .contenedorPadre {
            .contenedor {
                width: 350px;
                height: 110px;
                border-radius: 10px;
                background-position: center center;
            }
        }

        .h3P {
            display: none;
        }
    }

    section {
        .marca {
            h2 {
                font-size: 27px;
                font-weight: normal;
                margin-bottom: 20px;
            }

            p {
                font-size: 20px;
            }
        }
    }

    .h1Contacto {
        font-size: 30px;
    }

    .formulario {
        .hijoForm {
            input {
                width: 90%;
            }
        }
    }

    .contacto {
        .formulario {
            .hijoForm {
                label {
                    display: none;
                }
            }
        }
    }

    .imagenFondo {
        background-attachment: local;
    }

    .nosotrosBody {
        background-size: auto;
        background-attachment: local;
    }
}