@mixin flexC{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flexS{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@mixin FT{
    font-weight: bold;
    text-align: center;
}