/* nosotros y h2 */
.nosotrosBody {
	background-image: url(../imagenes/guitarra.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
}

#nosotros {
	@include flexC;
	background: radial-gradient(#EFEFBB, #DAD299);
	margin: 10%;
	box-shadow: 5px 5px 10px 1px #000;
	border-radius: 10px;

	.contenedor {
		p {
			font-size: 30px;
			line-height: 1.5;
			margin: 25px;
		}
	}
}

.h2 {
	font-size: 60px;
	@include FT;
	text-decoration: underline double;
	margin-bottom: 50px;
}