/* .galeria {
    display: flex;
	img {
		width: 100%;
		/* &:hover {
			border: 5px solid white;
		} */
/* 	}
} */
/* col-xl-4 {
	padding: 10px;
}  */
body{
    overflow-x: hidden;
    display: flex;
}